<!-- <!DOCTYPE html>
<html>
<body style="background-color:whitesmoke;">

<form > 
      <label> DO YOU HAVE INSTANCE NAME </label> 
  <br>
  
  <input style="background-color:green;" type="submit" value="YES">
  <input style="background-color:red;" type="submit" value="NO">
 
</form>

</body>
</html> -->

<!DOCTYPE html>
<html>
<body>

<h1>DO YOU HAVE INSTANCE NAME </h1>
<button onclick="myFunction()">YES</button>

<script>
function myFunction() {
  window.location.assign("/third")

}
</script>

<button onclick="myFunction2()">NO</button>

<script>
function myFunction2() {
  window.location.assign("https://www.google.com/")

}
</script>

</body>
</html> 
